.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__container {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__close-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__close-icon:hover {
  opacity: 0.8;
}

.modal__label {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  gap: 10px;
  size: 20px;
  line-height: 1;
  color: #212121;
  opacity: 40%;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  color: #212121;
  gap: 8px;
  background: #212121;
  color: #fcf5e5;
  size: 16px;
  line-height: 1;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
